@media screen and (max-width: 768px){
    .colorbox {
        visibility: hidden;
    }
    h1 {
        border-left: 2px solid #2031ad;
        text-align: center;
        font-size: 160%;
        padding-bottom: 10px;
    }
    .hid {
        visibility: hidden;
    }
    .wrapper {
        margin-left: -20px;
    }
    .nobull {
        margin: 25px -40px;
    }
    img {
        max-width: 100%;
    }
    table {
        width: 100%;
    }
    #contact {
        visibility: hidden;
    }

    /* ============nav for mobile============= */
    .line{
        width: 30px;
        height: 30px;
        background: red;
        margin: 5px;
    }
    nav {
        position: relative;
    }
    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
    }
    .sidenav {
        position: fixed;
        background: blue;
        height: 100vh;
        width: 100vh;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
    }
    .sidenav.open {
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
    }
}