
body {
    background-color: orange;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.top {
    position: absolute;
    left: 150px;
    top: 150px;
}
.center {
    margin: auto;
    width: 50%;
    padding-top: 260px;
    text-align: center;
}
.bottom {
    margin: auto;
    width: 90%;
    text-align: center;
}
a {
    text-decoration: none;
}
